{%extends 'layout.html'%}


{%block contentLOG%}
<div class="login d-flex align-items-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-8 mx-auto">
          <h3 class="login-heading mb-4">Bentornato!</h3>

        
          <form>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
              <label class="form-check-label" for="rememberPasswordCheck">
                Remember password
              </label>
            </div>

            <div class="d-grid">
              <button class="btn btn-lg btn-dark btn-login text-uppercase fw-lighter mb-2 miolog" type="submit">Log in</button>
              <div class="text-">
                <a class="small text-start" href="#">Hai scordato la password?</a>
               
              </div>
              <div class="d-grid">
                 <a href="{{url_for('register')}}"
                     class="btn btn-lg btn-dark btn-login my-4 text-uppercase fw-lighter mb-2 miosign"> NON SEI REGISTRATO? REGISTRATI!

                    </button>
                 </a>
            </div>
            

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock contentLOG%}